#Android generated
bin
gen

#Eclipse
#.project
#.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
default.properties
#proguard.cfg
proguard-project.txt
proguard
mapping.txt

#Other
.DS_Store
tmp
Thumbs.db

#Gradle
.gradle
build

#Runtastic
strings_dev.xml

# Butterknife
.apt_generated

